<section class="footer_area">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="single_footer">
							<h4>About</h4>
							<a href="index.html"><img src="/static/img/logo2.png" alt="logo"></a>
							<p>Teacher Brand Analysis</p>
						</div>
					</div><!-- END COL -->
					<div class="col-xs-12 col-sm-6">
						<div class="single_footer">
							<h4>service provided</h4>
							<ul class="link_mright">
								<li><a href={{ url_for('index') }}>Home</a></li>
								<li><a href={{ url_for('about') }}>About</a></li>
								<li><a href={{ url_for('project_one') }}>Analysis</a></li>
								<li><a href={{ url_for('contact') }}>Contact us</a></li>
							</ul>
{#							<ul>#}
{#								<li><a href="#">seo service</a></li>#}
{#								<li><a href="#">social media</a></li>#}
{#								<li><a href="#">seo optimization</a></li>#}
{#								<li><a href="#">web service</a></li>#}
{#								<li><a href="#">pay per click</a></li>#}
{#							</ul>#}
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
				<div class="row footer_bottom_mtop">
					<div class="col-md-6">
						<div class="copyright">
							<p>Copyright &copy; 2018 |  All Rights Reserved.</p>
						</div><!--- END FOOTER COPYRIGHT -->
					</div><!--- END COL -->
					<div class="col-md-6">
						<div class="footer_links">
							<ul>
								<li><a href={{ url_for('about') }}>About Us</a></li>
								<li><a href={{ url_for('project_one') }}>Product Details</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">User Agreement</a></li>
								<li><a href={{ url_for('contact') }}>Contact</a></li>
							</ul>
						</div><!--- END FOOTER LINKS -->
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>