<section class="footer_area">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="single_footer">
							<h4>About company</h4>
							<a href="index.html"><img src="/static/img/logo.png" alt="logo"></a>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit.</p>
						</div>
					</div><!-- END COL -->
					<div class="col-xs-12 col-sm-4">
						<div class="single_footer">
							<h4>service provided</h4>
							<ul class="link_mright">
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Analysis</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
{#							<ul>#}
{#								<li><a href="#">seo service</a></li>#}
{#								<li><a href="#">social media</a></li>#}
{#								<li><a href="#">seo optimization</a></li>#}
{#								<li><a href="#">web service</a></li>#}
{#								<li><a href="#">pay per click</a></li>#}
{#							</ul>#}
						</div>
					</div><!-- END COL -->
					<div class="col-xs-12 col-sm-4">
						<div class="single_footer">
							<h4>Latest news</h4>
							<div class="single_footer_news">
								<span>01 october, 2018</span>
								<h5><a href="#">How to grow your business with us</a></h5>
							</div>
							<div class="single_footer_news">
								<span>01 october, 2018</span>
								<h5><a href="#">How to grow your business with us</a></h5>
							</div>
							<div class="single_footer_news">
								<span>01 october, 2018</span>
								<h5><a href="#">How to grow your business with us</a></h5>
							</div>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
				<div class="row footer_bottom_mtop">
					<div class="col-md-6">
						<div class="copyright">
							<p>Copyright &copy; 2018 |  All Rights Reserved.</p>
						</div><!--- END FOOTER COPYRIGHT -->
					</div><!--- END COL -->
					<div class="col-md-6">
						<div class="footer_links">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Product Details</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">User Agreement</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div><!--- END FOOTER LINKS -->
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>